.scroll-bar:horizontal,
.scroll-bar:vertical {
	-fx-padding: 1;
}
.scroll-bar > .track-background {
	-fx-background-color: #f8f8f8;
	-fx-background-radius: 10;
	-fx-padding: 5 5 5 5;
}
.scroll-bar > .thumb {
	-fx-background-color: #898989;
	-fx-background-insets: 3;
	-fx-background-radius: 5;
}
.scroll-bar:vertical > .thumb {
	-fx-background-color: #898989;
	-fx-background-insets: 3;
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
}
.scroll-bar:horizontal > .increment-button {
	-fx-padding: 2 5 2 2;
}
.scroll-bar:horizontal > .decrement-button {
	-fx-padding: 2 2 2 5;
}
.scroll-bar:vertical > .increment-button {
	-fx-padding: 2 2 5 2;
}
.scroll-bar:vertical > .decrement-button {
	-fx-padding: 5 2 2 2;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
	-fx-background-color: #898989;
}
.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
	-fx-background-color: #5e5e5e;
}
.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
	-fx-background-color: #5f5f5f;
}
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
	-fx-padding: 4 3 4 3;
	-fx-shape: "M1.496 8.664C.94 8.293.606 7.669.606 7 .606 6.331.94 5.707 1.496 5.336 3.354 4.098 5.901 2.399 7.891 1.073 8.504.664 9.293.626 9.944.974 10.594 1.322 11 1.999 11 2.737 11 5.303 11 8.697 11 11.263 11 12.001 10.594 12.678 9.944 13.026 9.293 13.374 8.504 13.336 7.891 12.927 5.901 11.601 3.354 9.902 1.496 8.664Z";
}
.scroll-bar:horizontal > .increment-button > .increment-arrow {
	-fx-padding: 4 3 4 3;
	-fx-shape: "M9.504 8.664C10.06 8.293 10.394 7.669 10.394 7 10.394 6.331 10.06 5.707 9.504 5.336 7.646 4.098 5.099 2.399 3.109 1.073 2.496.664 1.707.626 1.056.974.406 1.322 0 1.999 0 2.737 0 5.303 0 8.697 0 11.263 0 12.001.406 12.678 1.056 13.026 1.707 13.374 2.496 13.336 3.109 12.927 5.099 11.601 7.646 9.902 9.504 8.664Z";
}
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
	-fx-padding: 3 4 3 4;
	-fx-shape: "M5.264 2.039C5.62 1.416 6.282 1.031 7 1.031 7.718 1.031 8.38 1.416 8.736 2.039 10.086 4.4 11.948 7.658 13.29 10.008 13.644 10.627 13.641 11.387 13.283 12.004 12.926 12.62 12.267 13 11.554 13 8.862 13 5.138 13 2.446 13 1.733 13 1.074 12.62.717 12.004.359 11.387.356 10.627.71 10.008 2.052 7.658 3.914 4.4 5.264 2.039Z";
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
	-fx-padding: 3 4 3 4;
	-fx-shape: "M5.264 10.961C5.62 11.584 6.282 11.969 7 11.969 7.718 11.969 8.38 11.584 8.736 10.961 10.086 8.6 11.948 5.342 13.29 2.992 13.644 2.373 13.641 1.613 13.283.996 12.926.38 12.267 0 11.554 0 8.862 0 5.138 0 2.446 0 1.733 0 1.074.38.717.996.359 1.613.356 2.373.71 2.992 2.052 5.342 3.914 8.6 5.264 10.961Z";
}
.scroll-bar:horizontal > .increment-button:pressed > .increment-arrow,
.scroll-bar:horizontal > .decrement-button:pressed > .decrement-arrow {
	-fx-padding: 3 3 3 3;
}
.scroll-bar:vertical > .increment-button:pressed > .increment-arrow,
.scroll-bar:vertical > .decrement-button:pressed > .decrement-arrow {
	-fx-padding: 3 3 3 3;
}
