.tooltip {
	-fx-background-color: #fbfbfb;
	-fx-background-radius: 6;
	-fx-border-color: rgba(0, 0, 0, 0.1);
	-fx-border-radius: 4px;
	-fx-padding: 6px 10px 7px 10px;
	-fx-font-size: 12px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 0, 2);
}
